.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 50px;
  padding: 20px;
  color: white;
  font-family: helvetica;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

h1 {
  display: inline;
  clear:both;
}


/* goolgemaps c 2018 sem hreyfist er span */
span{


  /* position: absolute;
  padding-right: 20px;
  padding:10px;
  margin-right: 5px; */
}

span:hover{
  /* border-color: white;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-radius:3px; */


}
