html, body {
  heigth:100%;
  margin:0;
}

.App {
  text-align: center;
  height: 100%;
  margin: 0;
}

.App-header {
  /* background-color: #222; */
  background-color:#266858;
  height: 40px;
  padding: 20px;
  color: white;
  font-family: helvetica;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}


h1 {
  display: inline;
  clear:both;
}


/* goolgemaps c 2018 sem hreyfist er span */
span{


  /* position: absolute;
  padding-right: 20px;
  padding:10px;
  margin-right: 5px; */
}

span:hover{
  /* border-color: white;
  border-bottom: 2px solid;
  border-left: 2px solid;
  border-right: 2px solid;
  border-radius:3px; */


}

footer{

  background-color: #5c7c74;
  color: white;
  height: 30px;
  /* width: 100%;
  margin:auto; */
  padding: 3px;
}

p{
    display: inline;
    font-size: 12px;
    margin:auto;
}
