.add-hike-container{
  padding:15px;
}

form{
  padding:10px;
  /* background-color: #c4d5ef; */
}


label{
  display: block;
  position: relative;
  right:0px;
  padding-bottom: 20px;
}

input{
  border: 0px;
  border-bottom: 2px;
  border-radius: 3px;
  border-style: solid;
  border-color: #788291;
  font-family: ariel;
  align-items: center;
  /* clear:both; */
  margin-left: 5px;
  /* float:right; */
}

input[type="text"]{
  border: 2px;
  border-style: solid;
  border-color: #788291;
  width:50%;
  max-width: 400px;
  min-width: 300px;
  height:30px;
  font-size: 16px;
}


input:focus::placeholder{

}

/* span{
    align-items: center;
    position: fixed;
    right:5px;
} */

textarea{
  width: 300px;
  /* float:right; */
  border-radius: 3px;
  border: 1px;
  border-style: solid;
  border-color:#788291;
  margin-left: 5px;
}

select{
  margin-left: 5px;
  border:0;
  border-left: 1px;
  border-style: solid;
}

.submit{
 /* float: left; */
 align-items: center;
 margin-bottom:15px;
  align-self: center;
/* border-width: 2px; */
  width: 120px;


}

#submit:hover{
  border-color: #446661;
  /* border-top: 1px;
  border-right: 1px; */
  /* border-right: 2px; */
  border-bottom: 2px;
  /* border-right:1px; */
  border-style:solid
}

hr{
  width: 5%;
  border-width:5px;
}

label.info{

  margin: auto;
  width:35%;
  font-size:14px;
}

div.hike{
    padding-top:10px;
    padding-bottom:10px;
    width:50%;
    min-width: 500px;
    margin:auto;
    background-color:#59a87f;
}

div.hike:nth-child( 2n){
  background-color:#c4d5ef;
}

.title{
  font-size:22px;
}

div:last-child{
  padding-bottom:0px;
}
