
.main-container{
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
}




button{
  border: 0px;
  border-bottom: 2px;
  border-radius: 3px;
  border-style: solid;
  border-color: #788291;
  font-family: ariel;
  align-items: center;
  /* clear:both; */
  margin-left: 5px;
  /* float:right; */
  margin-bottom: 10px;
  padding: 5px;
  margin-top: 20px;
  width:120px;
}

button:hover{
  border-color: #446661;
  border-bottom: 3px solid;
  border-left: 1px solid gray;
}


.gmnoprint{
  color:red;
}

.gm-style-cc{
  color:red;
}

div.gmnoprint.gm-style-cc{
  color:red;
}

.gmnoscreen{
  color:red;
  background-color: red;
}
