
.main-container{
  padding-top:10px;
  padding-left:10px;
  padding-right:10px;
}




button{
  border: 0px;
  border-bottom: 2px;
  border-radius: 3px;
  border-style: solid;
  border-color: #788291;
  font-family: ariel;
  align-items: center;
  /* clear:both; */
  margin-left: 5px;
  /* float:right; */
  margin-bottom: 10px;
  padding: 5px;
  margin-top: 20px;
  width:150px;
}

button:hover{
  border-color: #446661;
  border-bottom: 3px solid;
  border-left: 1px solid gray;
}


.gmnoprint{
  color:red;
}

.gm-style-cc{
  color:red;
}

div.gmnoprint.gm-style-cc{
  color:red;
}

.gmnoscreen{
  color:red;
  background-color: red;
}

.side-nav-nibbi{
  position: fixed;

  margin:0;
  padding:0;
  top:50%;
  width:30px;
  height:30px;
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;

}

.nibbi-opna{
  left:-20px;
  background-color: #266858;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.nibbi-loka{
  left:10px;
  opacity: 100;
  background-color:none;

  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}

.nibbi-loka:hover{
  border-color: #195150;
}

.nibbi-opna:hover{
  background-color:#67af9c;
}
