.sideBar-main{
  height:100%;
  background-color: #7879a3;
  width:30%;
  min-width: 220px;
  position: fixed;
  top:0;
  margin:0;
  padding: 0;

  /* padding-bottom: 500px; */
  overflow-y: scroll;
  /* left: -350px; */

}

.slide{
  left: 100px;
  animation: slide 8s;
}

@@keyframes slide {
  0% {
    transition: translateX(100px);
  }
  100%{
        transition: translateX(400px);
  }
}

.all-hikes-item{
  margin: 0 15px;
  border-top: 1px solid;
  display: block;
  padding: 15px 0;
  margin-left: 40px;
}

.all-hikes-item:hover{
  background-color: #a3a5e0;
}

.side-title{
  padding: 10px 0;
  margin-left: 30px;
  font-size: 26px;
}

.side-bar-search{
  /* padding: 5px 0; */
  margin: 10px 5px;
  /* width:100px; */

  padding:0;
  /* margin:0; */

}

.search-icon{
  float:left;
  display: inline;
  
}
